body {
    font-family: monospace;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}
.logo {
    flex: 1;
    display: flex;
    align-items: center;
}
.logo h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-left: 25px;
}
.search-bar {
    flex: 2;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-right: 150px;
}
.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
.button-group {
    margin-top: 20px;
}
.button-group a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}
.button-group a.logout-button {
    background-color: #dc3545;
}
.navbar{
    background-color: #76639c;
    color: white;
    padding: 10px;
    margin: 0;
    border: none;
    box-shadow: none;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.profile {
    margin-left: auto;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
