body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    padding: 50px;
}
.welcome {
    font-size: 24px;
    margin-bottom: 20px;
}
.search-bar {
    margin-bottom: 20px;
}
.search-bar input[type="text"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-bar button {
    padding: 10px 20px; /* Increased padding */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
}
.search-bar button:hover {
    background-color: #0056b3;
}
.button-group {
    margin-top: 20px;
}
.button-group a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}
.button-group a.profile-button {
    background-color: #28a745;
    margin-right: 10px; 
}
.button-group a.logout-button {
    background-color: #dc3545;
}
