body {
    font-family: monospace;
    background-color: #CFCFE6;
    margin: 0;
    padding: 20px;
}
.results-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.results-container h2 {
    margin-bottom: 20px;
}
.user {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.user:last-child {
    border-bottom: none;
    color: #4e4c94;
}
.user a {
    text-decoration: none;
    color: #4f4d97;
}
.user a:hover {
    text-decoration: underline;
}
.navigation {
    text-align: center;
    margin-top: 20px;
}
.navigation a {
    color: #4e4c94;
    text-decoration: none;
}
.navigation a:hover {
    text-decoration: underline;
}
