body {
    margin: 0;
    padding: 20px;
}
.results-container {
    background-color: #1E1E1E;
    color: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.results-container h2 {
    margin-bottom: 20px;
}
.user {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.user:last-child {
    border-bottom: none;
    color: white;
}
.navigation {
    text-align: center;
    margin-top: 20px;
}
.navigation a {
    color: #7a78ba;
    text-decoration: none;
}
.navigation a:hover {
    text-decoration: none;
}
