body {
    font-family: monospace;
    background-color: #CFCFE6;
    text-align: center;
    padding: 10px;
}
a {
    text-decoration: none;
}
.logo {
    flex: 1;
    display: flex;
    font-style: italic;
    align-items: center;
    color: transparent;
    -webkit-text-stroke: 1px #000000;
    text-stroke: 1px #000000;
    user-select: none;
}
.logo h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-left: 25px;
}
.logo a {
    text-decoration: none;
    color: inherit;
}
.search-bar {
    flex: auto;
    display: flex;
    position: center;
    justify-content: center;
    padding-top: 20px;
}
.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
}
.button-group {
    margin-top: 20px;
}
.button-group a {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    user-select: none;
}
.button-group a.logout-button {
    background-color: #dc3545;
}
.profile {
    margin-left: auto;
}
.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    padding: 35px;
    user-select: none;
    border: none;
    object-fit: cover;
}
.logout-button {
    position: absolute;
    bottom: 10px;
    right: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7C7ABB;
    padding: 10px;
    margin: 0;
    width: 100vw;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    user-select: none;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.search-bar {
    flex: auto;
    display: flex;
    position: center;
    justify-content: center;
    padding-top: 20px;
}
.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 10px 30px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
}
