<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a href="{{ url_for('home') }}">
                <div align="left" class="logo"><h2>t#rive</h2></div>
            </a>
            <div align="center" class="search-bar">
                <form action="{{ url_for('search_users') }}" method="POST">
                    <input type="text" id="searchInput" name="search_query" placeholder="Search">
                </form>
            </div>

            <!-- Disable right click -->
            <script>
            document.addEventListener('contextmenu', function(e) {
                e.preventDefault();
            });
            </script>

            <div class="profile">
                {% if current_user %}
                    <a href="{{ url_for('user_profile', user_id=current_user.id) }}">
                        {% if current_profile and current_profile.profile_picture %}
                            <img src="{{ url_for('static', filename='uploads/' + current_profile.profile_picture) }}"
                                alt="Profile Picture"
                                class="profile-img"
                                align="right"
                                style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                        {% else %}
                            <img src="{{ url_for('static', filename='default_profile_picture.png') }}" 
                                alt="Profile Picture" 
                                class="profile-img"
                                align="right"
                                style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                        {% endif %}
                    </a>
                {% else %}
                    <img src="{{ url_for('static', filename='default_profile_picture.png') }}" 
                        alt="Profile Picture" 
                        class="profile-img"
                        align="right"
                        style="width: 50px; height: 50px; border-radius: 50%; margin-right: 10px;">
                {% endif %}
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>

