{% extends 'base2.html' %}

{% block head %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block body %}
    <div class="signup-box">
        <h2>Sign Up</h2>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="error-message">
                    <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    
    <form action="{{ url_for('signup') }}" method="POST">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Sign Up</button>
    </form>
    <div class="login-link">
        <p>Already have an account? <a href="{{ url_for('login_page') }}">Login</a></p>
    </div></div>

{% endblock %}
