{% extends 'base.html' %}

{% block head %}
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock %}

{% block body %}
<div class="profile-container">
    <h2>{{ user.username }}'s Profile</h2>
    <div class="profile-info" style="display: flex; align-items: center; margin-bottom: 20px;">
        {% if profile.profile_picture %}
            <img src="{{ url_for('static', filename='uploads/' + profile.profile_picture) }}" 
                 alt="Profile Picture" 
                 class="profile-img">
        {% else %}
            <img src="{{ url_for('static', filename='default_profile_picture.png') }}" 
                 alt="Profile Picture" 
                 class="profile-img">
        {% endif %}

        <div style="margin-left: 5px;">
            <p><strong>Name:</strong> {{ profile.name if profile.name else 'Not set' }}</p>
            <p><strong>Bio:</strong> {{ profile.bio if profile.bio else 'No bio available.' }}</p>
        </div>
    </div>

    <div class="navigation">
        <a href="{{ url_for('home') }}">Home</a>
        {% if session['user_id'] == user.id %}
            <a href="{{ url_for('profile_form', user_id=profile.user_id) }}">Edit Profile</a>
        {% endif %}
        <a href="{{ url_for('logout') }}">Logout</a>
    </div>
</div>
{% endblock %}
